body{
    background-color: #000000;
    color: rgb(38, 132, 4);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #046805;
    color: rgb(255, 255, 255);
    font-family: "Bai Jamjuree", sans-serif;
}
